<div style="margin-top: 8px" class="container">
  <form [formGroup]="anuncioForm" class="row" (submit)="salvarAnuncio()">
    <div class="col-6 text-center">
      <textarea
        formControlName="url"
        type="text"
        class="form-control"
        placeholder="URL Imagem"></textarea>
    </div>
    <div class="col-6">
      <textarea formControlName="titulo"
                type="text"
                class="form-control"
                placeholder="Digite o titulo seu pora">
      </textarea>
      <textarea formControlName="mensagem"
                type="text"
                class="form-control"
                placeholder="Diga sua mensagem pora">
      </textarea>
    </div>
    <button [disabled]="anuncioForm.invalid" type="submit" class="btn btn-outline-primary btn-block">Salvar</button>
    <a href="a/list" aria-hidden="true" class="btn btn-outline-danger">Cancelar</a>
  </form>
</div>
