<div style="margin-top: 8px" class="container">
  <form [formGroup]="anuncioForm" class="row" (submit)="salvarAnuncio()">
    <div class="col-6 text-center">
      <textarea
        formControlName="url"
        type="text"
        class="form-control"
        placeholder="URL Imagem"></textarea>
      <app-vmessage *ngIf="anuncioForm.get('url')?.errors?.minlength" [text]="'Url deve conter no minino 10 carateres'" ></app-vmessage>
    </div>
    <div class="col-6">
      <textarea formControlName="titulo"
                type="text"
                class="form-control"
                placeholder="Digite o titulo seu pora"></textarea>
                <app-vmessage *ngIf="anuncioForm.get('titulo')?.errors?.minlength || anuncioForm.get('titulo')?.errors?.maxlength" [text]="'Titulo deve conter entre 15 e 30 caracteres'" ></app-vmessage>


      <textarea style="margin-top: 8px" formControlName="mensagem"
                type="text"
                class="form-control"
                placeholder="Diga sua mensagem pora">
      </textarea>
    </div>
    <button style="margin-top: 10px" [disabled]="anuncioForm.invalid" type="submit" class="btn btn-outline-primary btn-block">Salvar</button>
    <a style="margin-top: 10px" href="a/list" aria-hidden="true" class="btn btn-outline-danger">Cancelar</a>
  </form>
</div>
