<div class="row">
  <div class="col-4">
    <div class="container">
      <div class="card">
        <div class="card-title mt-4 container">
          <h4>Cadastro de usuarios</h4>
        </div>
        <div class="col-9 formulario container">
          <div class="row">
            <label>Nome</label>
            <input type="text" class="form-control" formControlName="nome" placeholder="nome">
          </div>
          <div class="row mt-4">
            <label>Cpf</label>
            <input type="text" class="form-control" placeholder="Cpf">
          </div>
          <div class="row mt-4">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="E-mail">
          </div>
          <button class="btn btn-outline-primary mt-2" >Cadastrar Usuário</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="container">
      <div class="card-title mt-3">
        <h4>Quem somos nós?</h4>
      </div>
    </div>
  </div>
</div>
